* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */


h1 {
  font-size: 1.5rem;
}

.intro-chunk {
  margin: 0 auto;
  padding: 96px 32px 64px;
  max-width: 650px;
}

.intro-chunk > p {
  font-size: 1.25rem;
  max-width: 400px;
}

p > strong {
  color: hsl(160deg, 100%, 30%);
}

section {
  padding-bottom: 128px;
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
}

.card {
  padding: 8px 32px;
  margin: 96px auto 0;
  max-width: 650px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  background-color: hsl(45deg, 100%, 50%);
  padding: 16px 40px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  margin-left: -40px;
}

.card > p {
  font-size: 1rem;
}